<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <form action="/story" method="post">

     <label for="holiday">Holiday</label>
     <input id="holiday" name="holiday" type="text">
<br>
     <label for="name1">Name</label>
     <input id="name1" name="name1" type="text">
<br>
     <label for="name2">Name</label>
     <input id="name2" name="name2" type="text">
<br>
     <label for="verb1">Verb</label>
     <input id="verb1" name="verb1" type="text">
<br>
     <label for="verb2">Verb</label>
     <input id="verb2" name="verb2" type="text">
<br>
     <label for="verb3">Verb</label>
     <input id="verb3" name="verb3" type="text">
<br>
     <label for="adjective1">Adjective</label>
     <input id="adjective1" name="adjective1" type="text">
<br>
     <label for="adjective2">Adjective</label>
     <input id="adjective2" name="adjective2" type="text">
<br>
     <label for="adjective3">Adjective</label>
     <input id="adjective3" name="adjective3" type="text">
<br>
     <label for="noun1">Noun</label>
     <input id="noun1" name="noun1" type="text">
<br>
     <label for="noun2">Noun</label>
     <input id="noun2" name="noun2" type="text">
<br>
     <label for="noun3">Noun</label>
     <input id="noun3" name="noun3" type="text">
<br>
     <label for="store1">Store</label>
     <input id="store1" name="store1" type="text">
<br>
     <label for="store2">Store</label>
     <input id="store2" name="store2" type="text">
<br>
     <button type="submit">Go!</button>
    </form>
  </body>
</html>