<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <form action="/story" method="post">
     <label for="holiday">Holiday</label>
     <input id="holiday" name="holiday" type="text">
     <label for="name">Name</label>
     <input id="name" name="name" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>